# do not push the .env file
.env
#do not add venv    
venv/
venv-sitewise/
# Ignore all Python cache files
__pycache__/
*.py[cod]
*$py.class
# ignore the config files 
config.ini
configs/
config.json
# Ignore Jupyter Notebook checkpoints
rootkey.csvrun-twinmaker.sh

run-cdk.sh

